<table>
    <thead>
        <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @inventory_foods.each do |food|%>
            <tr>
                <td><%= Food.find(food.food_id).name%></td>
                <td><%= food.quantity%></td>
                <td><%= link_to 'Delete', inventory_inventory_food_path(inventory_id: food.inventory_id, id: food.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'sure?'} %></td> 
            </tr>
        <% end %>
    </tbody>
</table>