<h1>FOODS</h1>

<div class='no-foods'>
  <%= "There are no foods right now. You can add a food." if @foods.empty? %>
</div>

<div class='add-food'>
  <%= button_to "Add food", new_food_path(@food), class: "btn btn-success", method: :get %>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Measurement Unit</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
     <%= render food %>
    <% end %>
  </tbody>
</table>
