<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
 Generate Shopping List
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Generate Shopping List</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%# Add content after this  ------ %>
  
  <select class="form-select" aria-label="Default select example" name="selected_food">
    <option selected> Select inventory </option>
    <% inventory.each do |inventory| %>
      <option value="<%= inventory.id %>"><%= inventory.name %></option>
    <% end %>
  </select>
   <%= hidden_field_tag "recipe_id_param", recipe.id %>
  <br>

  <%# before this ------ %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Generate List</button>
      </div>
    </div>
  </div>
</div>
